player-connection-mode=Connect
player-connection-guid=822019864
player-connection-debug=1
player-connection-project-name=My project
player-connection-wait-timeout=-1
player-connection-ip=192.168.137.1
player-connection-ip=192.168.223.1
player-connection-ip=192.168.1.127
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=722a972541ce493799b31937228a759e
